body {
    font-family: 'Montserrat', sans-serif !important;
    color: #fff !important;
    background-color: #383a3f !important;
}

.bg-custom {
    background-color: #1f2124 !important;
}

i {
    vertical-align: baseline !important;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}