form {
    margin-top: 1% !important;
    margin-left: 1% !important;
}

input, select {
    width: 20% !important;
    transition: width 0.4s ease-in-out !important;
}

textarea:focus, input:focus, select:focus {
    color: white !important;
    width: 50% !important;
}

button {
    color: white !important;
}
